In [1]:

DB_ULR = "neo4j://localhost:7687"
DB_USER = "neo4j"
DB_PASS = "test1234"
DB_NAME = "events"

# Create driver
Also set the DB_NAME

In [2]:
import os
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from neo4j import GraphDatabase # Python database driver
from graphdatascience import GraphDataScience # Python GDS client

# And some cermony to create the driver and gds objects
driver = GraphDatabase.driver(DB_ULR, auth=(DB_USER, DB_PASS))
gds = GraphDataScience.from_neo4j_driver(driver=driver)
gds.set_database(DB_NAME)

# Create databse and schema

In [21]:
# Create (or replace) database
with driver.session(database = "system") as session:
    result = session.execute_write( lambda tx: 
        tx.run(
            "create database {dbname} if not exists options {{ storeFormat: 'freki'}}".format(dbname = DB_NAME)
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

Empty DataFrame
Columns: []
Index: []

In [22]:
# Create indexes and constraints
with driver.session(database = DB_NAME) as session:
    session.execute_write( lambda tx: 
        tx.run(
            "CREATE CONSTRAINT IF NOT EXISTS FOR (n:Visitor) REQUIRE (n.id) IS NODE KEY"
        ).consume()
    )
    session.execute_write( lambda tx: 
        tx.run(
            "CREATE CONSTRAINT IF NOT EXISTS FOR (n:Item) REQUIRE (n.id) IS NODE KEY"
        ).consume()     
    )

#  Load data

In [10]:
# Read csv file
# Source https://www.kaggle.com/retailrocket/ecommerce-dataset?select=events.csv
csv = pd.read_csv('/Users/haklof/datasets/events.csv')
print(csv)

             timestamp  visitorid event  itemid  transactionid
0        1433221332117     257597  view  355908            NaN
1        1433224214164     992329  view  248676            NaN
2        1433221999827     111016  view  318965            NaN
3        1433221955914     483717  view  253185            NaN
4        1433221337106     951259  view  367447            NaN
...                ...        ...   ...     ...            ...
2756096  1438398785939     591435  view  261427            NaN
2756097  1438399813142     762376  view  115946            NaN
2756098  1438397820527    1251746  view   78144            NaN
2756099  1438398530703    1184451  view  283392            NaN
2756100  1438400163914     199536  view  152913            NaN

[2756101 rows x 5 columns]

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN
5  1433224086234     972639  view   22556            NaN
6  1433221923240     810725  view  443030            NaN
7  1433223291897     794181  view  439202            NaN
8  1433220899221     824915  view  428805            NaN
9  1433221204592     339335  view   82389            NaN

In [11]:
# Select all unique visitors
visitors = csv['visitorid'].drop_duplicates().dropna()
print(visitors)

0           257597
1           992329
2           111016
3           483717
4           951259
            ...
2756083    1392454
2756093     226214
2756096     591435
2756097     762376
2756099    1184451
Name: visitorid, Length: 1407580, dtype: int64

In [23]:
# Create Visitor nodes
for chunk in np.array_split(visitors, 10):
    with driver.session(database = DB_NAME) as session:
        result = session.execute_write( lambda tx: 
            tx.run(
                """
                UNWIND $visitors as visitorId
                MERGE (v:Visitor{id: visitorId})
                RETURN count(*) as nodesCreated
                """,
                visitors = chunk.to_list()
            ).data()
        )
        df = pd.DataFrame(result)
        print(df)

   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758
   nodesCreated
0        140758

In [13]:
# Select all unique Items
items = csv['itemid'].drop_duplicates().dropna()
print(items)

0          355908
1          248676
2          318965
3          253185
4          367447
            ...
2756002     19206
2756039    172413
2756042       613
2756060     52086
2756062    177353
Name: itemid, Length: 235061, dtype: int64

In [24]:
# Create Item nodes
with driver.session(database = DB_NAME) as session:
    result = session.execute_write( lambda tx: 
        tx.run(
            """
            UNWIND $items as itemId
            MERGE (:Item{id: itemId})
            RETURN count(*) as nodesCreated
            """,
            items = items.to_list()
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

   nodesCreated
0        235061

In [15]:
# Select all VIEWD relationships
viewed = csv[csv['event'] == 'view'][['visitorid','itemid', 'timestamp']]
print(viewed)

         visitorid  itemid      timestamp
0           257597  355908  1433221332117
1           992329  248676  1433224214164
2           111016  318965  1433221999827
3           483717  253185  1433221955914
4           951259  367447  1433221337106
...            ...     ...            ...
2756096     591435  261427  1438398785939
2756097     762376  115946  1438399813142
2756098    1251746   78144  1438397820527
2756099    1184451  283392  1438398530703
2756100     199536  152913  1438400163914

[2664312 rows x 3 columns]

In [25]:
# Create VIEWED relationships
for chunk in np.array_split(viewed, 20):
    with driver.session(database = DB_NAME) as session:
        result = session.execute_write( lambda tx: 
            tx.run(
                """
                UNWIND $data as rel
                MATCH (i:Item{id: rel.itemid}), (v:Visitor{id: rel.visitorid})
                MERGE (v)-[:VIEWED{timestamp:  datetime({epochMillis: rel.timestamp})}]->(i)
                RETURN count(*) as relsCreated
                """,
                data = chunk.to_dict('records')
            ).data()
        )
        df = pd.DataFrame(result)
        print(df)

   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133216
   relsCreated
0       133215
   relsCreated
0       133215
   relsCreated
0       133215
   relsCreated
0       133215
   relsCreated
0       133215
   relsCreated
0       133215
   relsCreated
0       133215
   relsCreated
0       133215

In [17]:
# Select all ADDED relationships
added = csv[csv['event'] == 'addtocart'][['visitorid','itemid', 'timestamp']]
print(added)

         visitorid  itemid      timestamp
17          287857    5206  1433223236124
19          158090   10572  1433221078505
63         1193904  255275  1433223543021
112         599528  356475  1433221941632
179         105775  312728  1433220880956
...            ...     ...            ...
2755956     831605   57810  1438400400805
2756056      10670  419736  1438398156086
2756074     144106  141241  1438400994744
2756078     804736  447661  1438399807937
2756090     804736  346534  1438399811281

[69332 rows x 3 columns]

In [26]:
# Create ADDED relationships
with driver.session(database = DB_NAME) as session:
    result = session.execute_write( lambda tx: 
        tx.run(
            """
            UNWIND $data as rel
            MATCH (i:Item{id: rel.itemid}), (v:Visitor{id: rel.visitorid})
            CREATE (v)-[:ADDED{timestamp:  datetime({epochMillis: rel.timestamp})}]->(i)
            RETURN count(*) as relsCreated
            """,
            data = added.to_dict('records')
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

   relsCreated
0        69332

In [27]:
# Select all BOUGHT relationships
bought = csv[csv['event'] == 'transaction'][['visitorid','itemid', 'timestamp', 'transactionid']]
bought.transactionid = bought.transactionid.astype(int)
print(bought)

         visitorid  itemid      timestamp  transactionid
130         599528  356475  1433222276276           4000
304         121688   15335  1433193500981          11117
418         552148   81345  1433193915008           5444
814         102019  150318  1433176736375          13556
843         189384  310791  1433174518180           7244
...            ...     ...            ...            ...
2755294    1050575   31640  1438377176570           8354
2755349     861299  456602  1438379878779           3643
2755508     855941  235771  1438357730123           4385
2755603     548772   29167  1438355560300          13872
2755607    1051054  312728  1438358989163          17579

[22457 rows x 4 columns]

In [28]:
# Create BOUGHT relationships
with driver.session(database = DB_NAME) as session:
    result = session.execute_write( lambda tx: 
        tx.run(
            """
            UNWIND $data as rel
            MATCH (i:Item{id: rel.itemid}), (v:Visitor{id: rel.visitorid})
            CREATE (v)-[:BOUGHT{timestamp: datetime({epochMillis: rel.timestamp}), transactionid: rel.transactionid}]->(i)
            RETURN count(*) as relsCreated
            """,
            data = bought.to_dict('records')
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

   relsCreated
0        22457

# Some basic queries

In [ ]:
# Top sellers
with driver.session(database = DB_NAME) as session:
    result = session.execute_read( lambda tx: 
        tx.run(
            """
            MATCH (i:Item)<-[:BOUGHT]-()
            RETURN  i.id as itemid, 
                    count(*) as times_bought,
                    size( (i:Item)<-[:ADDED]-() ) as times_added,
                    size( (i:Item)<-[:VIEWED]-() ) as times_viewed
            ORDER BY times_bought desc limit $limit
            """,
            limit = 10
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

In [ ]:
# Collaberative filtering
# Suggest what other Items Visitors buy for a Visitor veiwing an Item (where the Visitor has not added/bought the Item already)
with driver.session(database = DB_NAME) as session:
    result = session.execute_read( lambda tx: 
        tx.run(
            """
            MATCH (i:Item{id: $itemid})<-[:VIEWED]-(visitor)-[bought:BOUGHT]->(otherItem)
            WHERE i <> otherItem
            AND NOT (:Visitor{id: $visitorid})-[:BOUGHT|ADDED]->(otherItem)
            RETURN  otherItem.id as product_bought, 
                    count(distinct bought) as times_bought
            ORDER BY times_bought desc limit $limit
            """,
            limit = 10, itemid = 461686, visitorid=201110
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

In [ ]:
# Collaberative filtering (alternative)
# Suggest based on what other items that were checked out in same transaction
with driver.session(database = DB_NAME) as session:
    result = session.execute_read( lambda tx: 
        tx.run(
            """
            MATCH (i:Item{id: $itemid})<-[b1:BOUGHT]-(visitor)-[b2:BOUGHT]->(otherItem)
            WHERE i <> otherItem
            AND b1.transactionid = b2.transactionid
            AND NOT (:Visitor{id: $visitorid})-[:BOUGHT|ADDED]->(otherItem)
            RETURN  otherItem.id as product_bought, 
                    count(distinct b1.transactionid) as times_bought_together
            ORDER BY times_bought_together desc limit $limit
            """,
            limit = 10, itemid = 461686, visitorid=201110
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

# Questions so far?

# Graph data science

In [ ]:
# Do we have any "abnormal visitors"
with driver.session(database = DB_NAME) as session:
    result = session.execute_read( lambda tx: 
        tx.run(
            """
            MATCH (v:Visitor)-[:VIEWED|ADDED|BOUGHT]->()
            WITH v, 
                 count(*) as number_of_events
            RETURN  max(number_of_events) as `max`,
                    percentileCont(number_of_events, 0.999) as `p0.999`,
                    percentileCont(number_of_events, 0.99) as `p0.99`,
                    percentileCont(number_of_events, 0.9) as `p0.90`,
                    percentileCont(number_of_events, 0.75) as `p0.75`,
                    min(number_of_events) as `min`
            """,
            limit = 10
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

In [33]:
# Re-label abnormal visitors
with driver.session(database = DB_NAME) as session:
    result = session.execute_write( lambda tx: 
        tx.run(
            """
            MATCH (v:Visitor)-[:VIEWED|ADDED|BOUGHT]->()
            WITH v, 
                 count(*) as number_of_events
            WHERE number_of_events > 50
            SET v:AbnormalVisitor
            REMOVE v:Visitor
            RETURN count(*) as number_of_abnormal_visitors
            """,
            limit = 10
        ).data()
    )
    df = pd.DataFrame(result)
    print(df)

   number_of_abnormal_visitors
0                         1225

# How to do it from the neo4j browser / cypher shell
```cypher
call gds.graph.create.cypher(
    'items',
    'MATCH (i:Item) return id(i) as id',
    'MATCH (i1:Item)<-[r1:VIEWED]-(v:Visitor)-[r2:VIEWED|ADDED|BOUGHT]->(i2:Item)
     WHERE r1.timestamp<r2.timestamp
     WITH i1, i2, r1, case type(r2) when "BOUGHT" then 1.0 when "ADDED" then 0.7 else 0.2 end as weight
     RETURN id(i1) as target, id(i2) as source, weight',
     {readConcurrency:16}
)

call gds.pageRank.stats('items', {maxIterations:200, relationshipWeightProperty:'weight', concurrency:16})

call gds.pageRank.write('items', {maxIterations:200, relationshipWeightProperty:'weight', concurrency:16, writeProperty:'pagerank'})

call gds.graph.drop('items')

```

# How to do it with the GraphDataScience python wrapper

In [ ]:
G, project_stats = gds.graph.project.cypher(
    'items',
    """
    MATCH (i:Item) return id(i) as id
    """,
    """
        MATCH (i1:Item)<-[r1:VIEWED]-(v:Visitor)-[r2:VIEWED|ADDED|BOUGHT]->(i2:Item)
        WHERE r1.timestamp<r2.timestamp
        WITH i1, i2, r1, case type(r2) when "BOUGHT" then 1.0 when "ADDED" then 0.7 else 0.2 end as weight
        RETURN id(i1) as target, id(i2) as source, weight
     """,
    readConcurrency=16
)
project_stats

In [ ]:
G = gds.graph.get('items')
pagerankRes = gds.pageRank.write(G, maxIterations=200, relationshipWeightProperty='weight', concurrency=16, writeProperty='pagerank')
print(pagerankRes)

In [ ]:
G = gds.graph.get('items')
G.drop()

In [3]:
# Can we suggest an Item with high probability of conversion (central to conversion)
with driver.session(database = DB_NAME) as session:
    result = session.execute_read( lambda tx: 
        tx.run(
            """
            MATCH (i:Item{id: $itemid})<-[:VIEWED]-(visitor)-[bought:BOUGHT]->(otherItem)
            WHERE i <> otherItem
            AND NOT (:Visitor{id: $visitorid})-[:BOUGHT|ADDED]->(otherItem)
            RETURN  otherItem.id as product_bought,
                    otherItem.pagerank as rank,
                    count(distinct bought) as times_bought
            ORDER BY rank desc limit $limit
            """,
            limit = 10, itemid = 461686, visitorid=684514
        ).data()
    )
df = pd.DataFrame(result)
print(df)

   product_bought  rank  times_bought
0          429907  None             1
1          360487  None             1
2          370390  None             1
3          289915  None             2
4          167126  None             1
5          200854  None             1
6          259227  None             2
7          393419  None             1
8          133907  None             2
9          222294  None             1