In [1]:

DB_ULR = "neo4j://localhost:7687"
DB_USER = "neo4j"
DB_PASS = "test1234"
DB_NAME = "opensanctions"

# Create driver
Also set the DB_NAME

In [39]:
import os
import pandas as pd
from graphdatascience import GraphDataScience # Python GDS client
import numpy as np
import threading
import multiprocessing

# And some cermony to create the driver and gds objectsÂ´
gds = GraphDataScience(DB_ULR, auth=(DB_USER, DB_PASS))
gds.set_database(DB_NAME)

In [12]:
gds.run_cypher(
    """ 
    CALL gds.graph.project('test','*',
        {
            HAS_IDENTIFIER: {orientation: 'UNDIRECTED'},
            ENTITY: {orientation: 'UNDIRECTED'},
            HAS_NAME: {orientation: 'UNDIRECTED'},
            ADDRESS_ENTITY: {orientation: 'UNDIRECTED'},
            UNKNOWN_LINK: {orientation: 'UNDIRECTED'},
            OWNERSHIP: {orientation: 'UNDIRECTED'},
            HAS_PHONE: {orientation: 'UNDIRECTED'},
            HAS_EMAIL: {orientation: 'UNDIRECTED'},
            OWNER: {orientation: 'UNDIRECTED'},
            DIRECTORSHIP: {orientation: 'UNDIRECTED'},
            REPRESENTATION: {orientation: 'UNDIRECTED'},
            HOLDER: {orientation: 'UNDIRECTED'},
            MEMBERSHIP: {orientation: 'UNDIRECTED'},
            ISSUER: {orientation: 'UNDIRECTED'},
            FAMILY: {orientation: 'UNDIRECTED'},
            ASSOCIATE: {orientation: 'UNDIRECTED'}
        }
    )
    """
)

,nodeProjection,relationshipProjection,graphName,nodeCount,relationshipCount,projectMillis
0,"{'__ALL__': {'label': '*', 'properties': {}}}",{'HAS_IDENTIFIER': {'orientation': 'UNDIRECTED...,test,2409145,7361736,283

In [40]:
G = gds.graph.get('test');

In [71]:
politicians = gds.run_cypher("MATCH (p:Politician) return id(p) as id limit 300000")

In [72]:
politicians.head()

        id
0  3365985
1  3366214
2  3366282
3  3366356
4  3366460

In [42]:
nthreads = multiprocessing.cpu_count()
nthreads

10

In [75]:
chunks = np.array_split(politicians, nthreads)
all_threads = []

In [76]:
def worker(chunk, result, i):
    paths=gds.run_cypher(
        """ 
        MATCH (p:Politician) where id(p) in $ids
        with p
        call {
            with p
            CALL gds.allShortestPaths.dijkstra.stream('test', {
            sourceNode: p
            })
            YIELD index, targetNode, totalCost, path
            with index, totalCost, path, gds.util.asNode(targetNode) as target
            where target:SanctionedEntity
            RETURN
                index,
                target,
                totalCost,
                path
            LIMIT 1
        }
        return index,
                target,
                totalCost,
                nodes(path) as path
        """,
        params = { 'ids' : chunk['id'].to_list()  }
    )
    result[i] = paths

In [77]:

result = [None] * nthreads
for i in range(nthreads):
    thread = threading.Thread(target=worker, args=(chunks[i], result, i ))
    all_threads.append(thread)
    thread.start()

for thread in all_threads:
    thread.join()

In [78]:
result

[        index                                             target  totalCost  \
 0           0  (passportNumber, country, dissolutionDate, swi...        0.0
 1           0  (passportNumber, country, dissolutionDate, swi...        0.0
 2           0  (passportNumber, country, dissolutionDate, swi...        0.0
 3           0  (passportNumber, country, dissolutionDate, swi...        0.0
 4           0  (passportNumber, country, dissolutionDate, swi...        0.0
 ...       ...                                                ...        ...
 13200    3932  (passportNumber, country, dissolutionDate, swi...        2.0
 13201    3234  (passportNumber, country, dissolutionDate, swi...        6.0
 13202    1588  (passportNumber, country, dissolutionDate, swi...        4.0
 13203  123115  (country, dissolutionDate, swiftBic, previousN...        7.0
 13204     855  (passportNumber, country, dissolutionDate, swi...        2.0

                                                     path
 0      [(passportNumber, country, dissolutionDate, sw...
 1      [(passportNumber, country, dissolutionDate, sw...
 2      [(passportNumber, country, dissolutionDate, sw...
 3      [(passportNumber, country, dissolutionDate, sw...
 4      [(passportNumber, country, dissolutionDate, sw...
 ...                                                  ...
 13200  [(passportNumber, country, dissolutionDate, sw...
 13201  [(passportNumber, country, dissolutionDate, sw...
 13202  [(passportNumber, country, dissolutionDate, sw...
 13203  [(passportNumber, country, dissolutionDate, sw...
 13204  [(passportNumber, country, dissolutionDate, sw...

 [13205 rows x 4 columns],
        index                                             target  totalCost  \
 0        364  (passportNumber, country, dissolutionDate, swi...        2.0
 1          5  (passportNumber, country, dissolutionDate, swi...        2.0
 2      17651  (passportNumber, country, dissolutionDate, swi...        8.0
 3       3822  (passportNumber, country, dissolutionDate, swi...        4.0
 4       6197  (passportNumber, country, dissolutionDate, swi...        6.0
 ...      ...                                                ...        ...
 13082      2  (passportNumber, country, dissolutionDate, swi...        2.0
 13083   2744  (passportNumber, country, dissolutionDate, swi...        6.0
 13084   1208  (passportNumber, country, dissolutionDate, swi...        4.0
 13085   6178  (passportNumber, country, dissolutionDate, swi...        6.0
 13086   4984  (passportNumber, country, dissolutionDate, swi...        4.0

                                                     path
 0      [(passportNumber, country, dissolutionDate, sw...
 1      [(passportNumber, country, dissolutionDate, sw...
 2      [(passportNumber, country, dissolutionDate, sw...
 3      [(passportNumber, country, dissolutionDate, sw...
 4      [(passportNumber, country, dissolutionDate, sw...
 ...                                                  ...
 13082  [(passportNumber, country, dissolutionDate, sw...
 13083  [(passportNumber, country, dissolutionDate, sw...
 13084  [(passportNumber, country, dissolutionDate, sw...
 13085  [(passportNumber, country, dissolutionDate, sw...
 13086  [(passportNumber, country, dissolutionDate, sw...

 [13087 rows x 4 columns],
       index                                             target  totalCost  \
 0      4980  (passportNumber, country, dissolutionDate, swi...        6.0
 1       490  (passportNumber, country, dissolutionDate, swi...        2.0
 2     10154  (passportNumber, country, dissolutionDate, swi...        6.0
 3         2  (passportNumber, country, dissolutionDate, swi...        2.0
 4        12  (passportNumber, country, dissolutionDate, swi...        2.0
 ...     ...                                                ...        ...
 6490   5087  (passportNumber, country, dissolutionDate, swi...        4.0
 6491   2061  (passportNumber, country, dissolutionDate, swi...        2.0
 6492   5814  (passportNumber, country, dissolutionDate, swi...        4.0
 6493   5354  (passportNumber, country, dissolutionDate, swi...        4.0
 6494   2797  (passportNumber, country, dissolutionDate, swi...        4.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 6490  [(passportNumber, country, dissolutionDate, sw...
 6491  [(passportNumber, country, dissolutionDate, sw...
 6492  [(passportNumber, country, dissolutionDate, sw...
 6493  [(passportNumber, country, dissolutionDate, sw...
 6494  [(passportNumber, country, dissolutionDate, sw...

 [6495 rows x 4 columns],
       index                                             target  totalCost  \
 0      5021  (passportNumber, country, dissolutionDate, swi...        4.0
 1      5021  (passportNumber, country, dissolutionDate, swi...        4.0
 2      5402  (passportNumber, country, dissolutionDate, swi...        4.0
 3      5084  (passportNumber, country, dissolutionDate, swi...        4.0
 4      5170  (passportNumber, country, dissolutionDate, swi...        4.0
 ...     ...                                                ...        ...
 8082      5  (passportNumber, country, dissolutionDate, swi...        2.0
 8083  12925  (passportNumber, country, dissolutionDate, swi...        8.0
 8084   5968  (passportNumber, country, dissolutionDate, swi...        4.0
 8085   2216  (passportNumber, country, dissolutionDate, swi...        4.0
 8086    220  (passportNumber, country, dissolutionDate, swi...        4.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 8082  [(passportNumber, country, dissolutionDate, sw...
 8083  [(passportNumber, country, dissolutionDate, sw...
 8084  [(passportNumber, country, dissolutionDate, sw...
 8085  [(passportNumber, country, dissolutionDate, sw...
 8086  [(passportNumber, country, dissolutionDate, sw...

 [8087 rows x 4 columns],
       index                                             target  totalCost  \
 0      2349  (passportNumber, country, dissolutionDate, swi...        4.0
 1      2079  (passportNumber, country, dissolutionDate, swi...        4.0
 2      4554  (passportNumber, country, dissolutionDate, swi...        4.0
 3      2279  (passportNumber, country, dissolutionDate, swi...        4.0
 4      2279  (passportNumber, country, dissolutionDate, swi...        4.0
 ...     ...                                                ...        ...
 7606  50373  (passportNumber, country, dissolutionDate, swi...        8.0
 7607      5  (passportNumber, country, dissolutionDate, swi...        2.0
 7608  17860  (passportNumber, country, dissolutionDate, swi...        6.0
 7609   4464  (passportNumber, country, dissolutionDate, swi...        4.0
 7610   4649  (passportNumber, country, dissolutionDate, swi...        6.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 7606  [(passportNumber, country, dissolutionDate, sw...
 7607  [(passportNumber, country, dissolutionDate, sw...
 7608  [(passportNumber, country, dissolutionDate, sw...
 7609  [(passportNumber, country, dissolutionDate, sw...
 7610  [(passportNumber, country, dissolutionDate, sw...

 [7611 rows x 4 columns],
       index                                             target  totalCost  \
 0      5826  (passportNumber, country, dissolutionDate, swi...        4.0
 1      4852  (passportNumber, country, dissolutionDate, swi...        4.0
 2      5015  (passportNumber, country, dissolutionDate, swi...        4.0
 3      4852  (passportNumber, country, dissolutionDate, swi...        4.0
 4      5826  (passportNumber, country, dissolutionDate, swi...        4.0
 ...     ...                                                ...        ...
 8014    467  (passportNumber, country, dissolutionDate, swi...        4.0
 8015    467  (passportNumber, country, dissolutionDate, swi...        4.0
 8016   5697  (passportNumber, country, dissolutionDate, swi...        4.0
 8017   5697  (passportNumber, country, dissolutionDate, swi...        4.0
 8018    467  (passportNumber, country, dissolutionDate, swi...        4.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 8014  [(passportNumber, country, dissolutionDate, sw...
 8015  [(passportNumber, country, dissolutionDate, sw...
 8016  [(passportNumber, country, dissolutionDate, sw...
 8017  [(passportNumber, country, dissolutionDate, sw...
 8018  [(passportNumber, country, dissolutionDate, sw...

 [8019 rows x 4 columns],
       index                                             target  totalCost  \
 0      5697  (passportNumber, country, dissolutionDate, swi...        4.0
 1      5697  (passportNumber, country, dissolutionDate, swi...        4.0
 2       467  (passportNumber, country, dissolutionDate, swi...        4.0
 3       467  (passportNumber, country, dissolutionDate, swi...        4.0
 4       467  (passportNumber, country, dissolutionDate, swi...        4.0
 ...     ...                                                ...        ...
 6539   3936  (passportNumber, country, dissolutionDate, swi...        4.0
 6540   2865  (passportNumber, country, dissolutionDate, swi...        4.0
 6541   5958  (passportNumber, country, dissolutionDate, swi...        6.0
 6542   1056  (passportNumber, country, dissolutionDate, swi...        4.0
 6543   3813  (passportNumber, country, dissolutionDate, swi...       12.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 6539  [(passportNumber, country, dissolutionDate, sw...
 6540  [(passportNumber, country, dissolutionDate, sw...
 6541  [(passportNumber, country, dissolutionDate, sw...
 6542  [(passportNumber, country, dissolutionDate, sw...
 6543  [(passportNumber, country, dissolutionDate, sw...

 [6544 rows x 4 columns],
       index                                             target  totalCost  \
 0      4941  (passportNumber, country, dissolutionDate, swi...        6.0
 1         2  (passportNumber, country, dissolutionDate, swi...        2.0
 2         5  (passportNumber, country, dissolutionDate, swi...        2.0
 3     12577  (passportNumber, country, dissolutionDate, swi...        6.0
 4      2182  (passportNumber, country, dissolutionDate, swi...        4.0
 ...     ...                                                ...        ...
 6337    779  (passportNumber, country, dissolutionDate, swi...        4.0
 6338   1557  (passportNumber, country, dissolutionDate, swi...        6.0
 6339   1588  (passportNumber, country, dissolutionDate, swi...        6.0
 6340   1586  (passportNumber, country, dissolutionDate, swi...        6.0
 6341   2562  (passportNumber, country, dissolutionDate, swi...        6.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 6337  [(passportNumber, country, dissolutionDate, sw...
 6338  [(passportNumber, country, dissolutionDate, sw...
 6339  [(passportNumber, country, dissolutionDate, sw...
 6340  [(passportNumber, country, dissolutionDate, sw...
 6341  [(passportNumber, country, dissolutionDate, sw...

 [6342 rows x 4 columns],
       index                                             target  totalCost  \
 0      6061  (passportNumber, country, dissolutionDate, swi...        4.0
 1      4142  (passportNumber, country, dissolutionDate, swi...        6.0
 2      6061  (passportNumber, country, dissolutionDate, swi...        4.0
 3      2089  (passportNumber, country, dissolutionDate, swi...        4.0
 4     18718  (passportNumber, country, dissolutionDate, swi...        6.0
 ...     ...                                                ...        ...
 5882   3910  (passportNumber, country, dissolutionDate, swi...        4.0
 5883   3865  (passportNumber, country, dissolutionDate, swi...        4.0
 5884      2  (passportNumber, country, dissolutionDate, swi...        2.0
 5885      2  (passportNumber, country, dissolutionDate, swi...        2.0
 5886      2  (passportNumber, country, dissolutionDate, swi...        2.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 5882  [(passportNumber, country, dissolutionDate, sw...
 5883  [(passportNumber, country, dissolutionDate, sw...
 5884  [(passportNumber, country, dissolutionDate, sw...
 5885  [(passportNumber, country, dissolutionDate, sw...
 5886  [(passportNumber, country, dissolutionDate, sw...

 [5887 rows x 4 columns],
       index                                             target  totalCost  \
 0         2  (passportNumber, country, dissolutionDate, swi...        2.0
 1         2  (passportNumber, country, dissolutionDate, swi...        2.0
 2         2  (passportNumber, country, dissolutionDate, swi...        2.0
 3         2  (passportNumber, country, dissolutionDate, swi...        2.0
 4         2  (passportNumber, country, dissolutionDate, swi...        2.0
 ...     ...                                                ...        ...
 4312   2441  (passportNumber, country, dissolutionDate, swi...        6.0
 4313    340  (passportNumber, country, dissolutionDate, swi...        6.0
 4314      8  (passportNumber, country, dissolutionDate, swi...        4.0
 4315      2  (passportNumber, country, dissolutionDate, swi...        2.0
 4316      2  (passportNumber, country, dissolutionDate, swi...        2.0

                                                    path
 0     [(passportNumber, country, dissolutionDate, sw...
 1     [(passportNumber, country, dissolutionDate, sw...
 2     [(passportNumber, country, dissolutionDate, sw...
 3     [(passportNumber, country, dissolutionDate, sw...
 4     [(passportNumber, country, dissolutionDate, sw...
 ...                                                 ...
 4312  [(passportNumber, country, dissolutionDate, sw...
 4313  [(passportNumber, country, dissolutionDate, sw...
 4314  [(passportNumber, country, dissolutionDate, sw...
 4315  [(passportNumber, country, dissolutionDate, sw...
 4316  [(passportNumber, country, dissolutionDate, sw...

 [4317 rows x 4 columns]]